*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
}

.jumbotron {
  margin-bottom: 0px;
  padding: 0px;
  font-family: "Oswald", sans-serif;
  color: lightgray;
  font-weight: bold;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  font-family: "Oswald", sans-serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

#statement-img {
  width: 200px;
  height: 200px;
}


.mb-3{
  max-width: 700px;
}

#user-input-section{ 
  float:right
}
#zip-card{
  margin-right: 30px;
}

.hide {
  display: none;
}
#slider-text {
  font-family: "Oswald", sans-serif;
  font-size: 100px;
}

.carousel-caption {
  top: 60%;
  transform: translateY(-50%);
  text-transform: uppercase;
}

@media( max-width: 800px) {
  .carousel-caption {
    display: none;
  }
}